/* body {
    margin: 0;
    font-family: Arial;
    background: #0f172a !important;
    color: white !important;
} */


/* body {
    background-color: #0f172a !important;

    background-image:
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    color: white !important;
    background-size: 60px 60px;
} */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f172a !important;
    color: white !important;
}

/* Scroll effect */
.glass-navbar {
    margin-top: 10px;
    border-radius: 50px;
    padding: 10px 20px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);

    transition: all 0.4s ease;
}

.navbar {
    transition: all 0.4s ease;
}