html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f172a !important;
    color: white !important;
}

/* Navbar transition */
.navbar {
    transition: background 0.3s ease, padding 0.3s ease;
}

/* Desktop Glass Effect */
.glass-navbar {
    margin-top: 10px;
    border-radius: 50px;
    padding: 10px 20px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
}

/* Mobile Navbar */
.mobile-nav {
    width: 100%;
    border-radius: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
}

/* Active link style */
.active-link {
    color: #38bdf8 !important;
    position: relative;
}

.active-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #38bdf8;
    left: 0;
    bottom: -5px;
    border-radius: 10px;
}

/* Mobile override */
@media (max-width: 768px) {

    .glass-navbar {
        background: none !important;
        backdrop-filter: none !important;
        border-radius: 0 !important;
        margin-top: 0 !important;
        padding: 10px 15px !important;
    }

    .navbar {
        padding: 10px 15px;
    }

    .navbar-collapse {
        background: transparent;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
    }
}